<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/content/")assets/css/style-starter.css">
    <link rel="stylesheet" href="@Url.Content("~/content/")assets/css/mysite.css" media="all" />
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
</head>
<body>
    <!-- site header -->
    <header id="site-header" class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="@Url.Action("Index")">
                <span class="fa fa-shield"></span> Ngos
            </a>
            <button class="navbar-toggler bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Donate")">Donate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("About")">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contact")">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Program")">Our programmes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Partner")">Our Partners</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    @if (ViewBag.name==null)
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("SignIn")" class="btn btn-primary btn-style">Sign In</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @ViewBag.name
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("PersonalInfo",new { id=Session["ID"]})">Personal Infomation</a>
                                <a class="dropdown-item" href="@Url.Action("LogOut")">Log out</a>
                            </div>
                        </li>
                    }

                </ul>
            </div>
        </nav>
    </header>
    <!-- //site header -->
    <div id="content">
        @RenderBody()
    </div>

    <!-- site footer -->
    <footer id="site-footer">
        <div class="top-footer">
            <div class="container my-md-5 my-4">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="footer-logo mb-3">
                            <a href="@Url.Action("Index")">
                                <span class="fa fa-shield"></span> Ngos
                            </a>
                        </div>
                        <div>
                            <p class="">These NGO’s will take part in various welfare activities for raising funds to help the needy. The website is designed with the aim to help the needy.</p>
                        </div>
                    </div>
                    <!-- Quick Links -->
                    <div class="col-lg-3 col-md-4 mt-lg-0 mt-5">
                        <h4 class="footer-title">Quick Links</h4>
                        <ul class="footer-list">
                            <li><a href="@Url.Action("Donate")"> Donate</a></li>
                            <li><a href="@Url.Action("About")"> About Us</a></li>
                            <li><a href="@Url.Action("Program")">Our Programs</a></li>
                            <li><a href="@Url.Action("Contact")">Help Centre</a></li>
                        </ul>
                    </div>
                    <!-- Newsletter -->
                    <div class="col-lg-5 col-md-8 mt-lg-0 mt-5">
                        <h4 class="footer-title">Invite your friends</h4>
                        <p class="mb-4">
                            You can send mail to invite other friends to join the NGOs and raise funds together.
                        </p>
                        <form class="newsletter-form">
                            <input class="input-rounded" type="text" required="" placeholder="Enter Your Friend's Email Address">
                            <button type="submit" title="Subscribe" class="btn btn-primary btn-style" name="submit" value="Submit">
                                Invite
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- //site footer -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
        <span class="fa fa-angle-up"></span>
    </button>

    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->
    <!-- javascript -->
    <script src="~/Scripts/alertify.min.js"></script>
    <script src="@Url.Content("~/content/")assets/js/jquery-3.3.1.min.js"></script>

    <!-- libhtbox -->
    <script src="@Url.Content("~/content/")assets/js/lightbox-plus-jquery.min.js"></script>

    <!-- particles -->
    <script src='@Url.Content("~/content/")assets/js/particles.min.js'></script>
    <script src="@Url.Content("~/content/")assets/js/script.js"></script>
    <!-- //particles -->
    <!-- owl carousel -->
    <script src="@Url.Content("~/content/")assets/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: false,
                responsive: {
                    0: {
                        items: 1
                    },
                    767: {
                        items: 2
                    },
                    1000: {
                        items: 3
                    }
                }
            })
        })
    </script>

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->
    <!-- bootstrap -->
    <script src="@Url.Content("~/content/")assets/js/bootstrap.min.js"></script>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
