@model List<NGO.Models.EntityModels.AboutUs>
@{
    ViewBag.Title = "About Us";
}
<!-- contact page breadcrumns -->
<section class="inner-banner"></section>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-padding">
        <li class="breadcrumb-item"><a href="@Url.Action("Index")">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About Us</li>
    </ol>
</nav>
<!-- contact page breadcrumns -->
<!-- services page block 1 -->
<section class="w3l-features">
    <div class="call-w3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
                    <h4 class="section-title">About Us</h4>
                </div>
            </div>
            @for (int i = 0; i < Model.Count; i++)
            {
                if (i % 2 == 0)
                {
                    <div class="row main-cont-wthree-2 mt-5">
                        <div class="col-lg-6 feature-grid-left order2 mt-lg-0 mt-sm-5 mt-4">
                            <h4 class="title-left">@Model[i].AboutName</h4>
                            <p class="text-para">
                                @Html.Raw(Model[i].AboutContent)
                            </p>
                        </div>
                        <div class="col-lg-6 feature-grid-right order1">
                            <img src="@Url.Content("~/Images/")@Model[i].AboutImage" class="img-fluid img-shadow" alt="services" style="height:250px;">
                        </div>
                    </div>
                }
                else
                {
                    <div class="row main-cont-wthree-2 mt-5">
                        <div class="col-lg-6 feature-grid-right">
                            <img src="@Url.Content("~/Images/")@Model[i].AboutImage" class="img-fluid img-shadow" alt="services" style="height:250px;">
                        </div>
                        <div class="col-lg-6 feature-grid-left mt-lg-0 mt-sm-5 mt-4">
                            <h4 class="title-left">@Model[i].AboutName</h4>
                            <p class="text-para">
                                @Html.Raw(Model[i].AboutContent)
                            </p>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</section>
<!-- services page block 1 -->