@model NGO.Models.ViewModels.ContactView
@{
    ViewBag.Title = "Contact Us";
}
<!-- contact page breadcrumns -->
<section class="inner-banner"></section>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-padding">
        <li class="breadcrumb-item"><a href="@Url.Action("Index")">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
    </ol>
</nav>
<!-- contact page breadcrumns -->
<!-- contact section -->
<section class="w3l-contact3">
    <div class="contact1-bg section-gap">
        <div class="container">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 px-lg-3 px-0">
                <h4 class="section-title">Get in touch with us</h4>
                <p class="text-center">
                    If you have any questions about our organization, please contact us so we can answer your questions.
                </p>
            </div>
            <div class="row contact-main mt-5">
                <div class="col-md-6 ">
                    <div class="column">
                        <h3 class="header">We are here for you</h3>
                        <p class="head-main">
                            The different ways of contacting our organization. <br /> We will support you 24/7.
                        </p>
                    </div>
                    <div class="column2">
                        <div class="contact-para contact-info-align">
                            <div class="icon">
                                <span class="fa fa-map-marker"></span>
                            </div>
                            <div>
                                <strong class="info">Address:</strong> @Model.Address
                            </div>
                        </div>
                        <div class="contact-info-align">
                            <div class="icon">
                                <span class="fa fa-phone"></span>
                            </div>
                            <div>
                                <strong class="info">Phone:</strong> @Model.PhoneNumber
                            </div>
                        </div>
                        <div class="contact-info-align">
                            <div class="icon">
                                <span class="fa fa-envelope-open-o"> </span>
                            </div>
                            <div>
                                <strong class="info">Email:</strong> @Model.Email
                            </div>
                        </div>
                    </div>
                </div>
                <!-- map iframe-->
                <div class="col-md-6 map mt-lg-0 mt-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2829829435454!2d106.69300631462262!3d10.789624892312597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528cb4ba30aa5%3A0x3a0ddc230888b922!2zMjQgUGhhbiBMacOqbSwgxJBhIEthbywgUXXhuq1uIDEsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1590374514343!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <!-- //map iframe -->
            </div>
        </div>
    </div>
</section>

<section class="contact-form">
    <div class="container">
        <div class="contacts12-main">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 mb-md-5 mb-3">
                <h4 class="section-title">we want to here from you</h4>
            </div>
            <!-- contact form -->
            <form action="@Url.Action("CreateQues")" method="post">
                <div class="main-input">
                    <div>
                        <input type="text" name="UserName" id="w3lName" placeholder="Your Name" class="contact-input"
                               required />
                    </div>
                    <div>
                        <input type="text" name="UserMail" id="w3lSender" placeholder="Your Email Address"
                               class="contact-input" required />
                    </div>
                    <div>
                        <input type="text" name="Title" id="w3lSubject" placeholder="Subject" class="contact-input"
                               required />
                    </div>
                </div>
                <textarea class="contact-textarea" name="QuesContent" id="w3lMessage"
                          placeholder="Type your message here" required></textarea>
                <div class="text-right">
                    <button class="btn btn-style btn-primary">Submit</button>
                </div>
            </form>
            <!-- //contact form -->
        </div>
    </div>
</section>
<!-- //contact section -->
@section scripts{
    <script>
        $(function () {
            	var msg1 = '@TempData["success"]'
            if (msg1 != '') {
                alertify.success(msg1); //display notify
            }
            var msg2 = '@TempData["error"]'
            if (msg2 != '') {
                alertify.error(msg2); //display notify
            }
        });
    </script>
}