
@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<NGO.Models.EntityModels.Donate> lsUp = ViewBag.up;
    List<NGO.Models.EntityModels.Donate> lsOn = ViewBag.on;
    List<NGO.Models.EntityModels.Donate> lsEnd = ViewBag.end;
}
<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<!-- contact page breadcrumns -->
<section class="inner-banner"></section>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-padding">
        <li class="breadcrumb-item"><a href="@Url.Action("Index")">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Donate</li>
    </ol>
</nav>
<!-- contact page breadcrumns -->
<div class="container" style="display:flex; padding:20px;">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="width:15%;">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Upcoming</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Ongoing</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Ended</a>
    </div>
    <div class="tab-content" id="v-pills-tabContent" style="width:100%;margin-left:15px;">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <table class="table table-striped" id="tableUpcoming">
                <thead>
                    <tr>
                        <th>Donate Name</th>
                        <th>Category</th>
                        <th>Total Money</th>
                        <th>Donate (5-1000$)</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in lsUp)
                    {
                        <tr>
                            <td>@item.DonateName</td>
                            <td>@item.Category.CateName</td>
                            <td>@item.TotalMoney</td>
                            <td>
                                <form action="@Url.Action("UserDonate")" method="post">
                                    <input type="hidden" value="@item.ID" name="DonateID" />
                                    <input type="hidden" value="@Session["ID"]" name="UserID" id="idUser" />
                                    <input type="number" name="Money" value="" min="5" max="1000" required />
                                    <input type="submit" value="Donate" class="btn btn-default" id="btnDonate" />
                                </form>
                            </td>
                            <td><a href="@Url.Action("DonateInfomation",new { id=item.ID})">Detail</a></td>
                        </tr>
                    }


                </tbody>
            </table>

        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <table class="table table-striped" id="tableOngoing">
                <thead>
                    <tr>
                        <th>Donate Name</th>
                        <th>Category</th>
                        <th>Total Money</th>
                        <th>Donate (5-1000$)</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in lsOn)
                    {
                        <tr>
                            <td>@item.DonateName</td>
                            <td>@item.Category.CateName</td>
                            <td>@item.TotalMoney</td>
                            <td>
                                <form action="@Url.Action("UserDonate")" method="post">
                                    <input type="hidden" value="@item.ID" name="DonateID" />
                                    <input type="hidden" value="@Session["ID"]" name="UserID" id="idUser" />
                                    <input type="number" name="Money" value="" min="5" max="1000" required />
                                    <input type="submit" value="Donate" class="btn btn-default" id="btnDonate" />
                                </form>
                            </td>
                            <td><a href="@Url.Action("DonateInfomation",new { id=item.ID})">Detail</a></td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <table class="table table-striped" id="tableEnded">
                <thead>
                    <tr>
                        <th>Donate Name</th>
                        <th>Category</th>
                        <th>Total Money</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in lsEnd)
                    {
                    <tr>
                        <td>@item.DonateName</td>
                        <td>@item.Category.CateName</td>
                        <td>@item.TotalMoney</td>
                        <td><a href="@Url.Action("DonateInfomation",new { id=item.ID})">Detail</a></td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

</div>
@section scripts{
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(function () {
            	var msg1 = '@TempData["success"]'
            if (msg1 != '') {
                alertify.success(msg1); //display notify
            }
            var msg2 = '@TempData["error"]'
            if (msg2 != '') {
                alertify.error(msg2); //display notify
            }
            $('#tableUpcoming').DataTable();
            $('#tableOngoing').DataTable();
            $('#tableEnded').DataTable();
            $('#btnDonate').click(function (e) {
                if ($('#idUser').val() === "") {
                    alertify.error("Please login to donate!");
                    e.preventDefault();
                }
            });
        });
    </script>
}