@model NGO.Models.EntityModels.Donate
@{
    ViewBag.Title = Model.DonateName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<NGO.Models.EntityModels.UserDonate> ls = ViewBag.lsUD;
}
<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<!-- contact page breadcrumns -->
<section class="inner-banner"></section>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-padding">
        <li class="breadcrumb-item"><a href="@Url.Action("Index")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Donate")">Donate</a></li>
        <li class="breadcrumb-item active" aria-current="page">Donate Infomation: @Model.DonateName</li>
    </ol>
</nav>
<!-- contact page breadcrumns -->
<!-- services page block 1 -->
<section class="w3l-features">
    <div class="call-w3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
                    <h4 class="section-title">@Model.DonateName @(Model.DonateStatus == 1 ? "(Upcoming)" : Model.DonateStatus == 2 ? "(Ongoing)" : "(Ended")</h4>
                    <p class="text-center">
                        @Model.Category.CateName <br />
                        <span><b>From</b> @Model.StartDay.ToString("yyyy/MM/dd hh:mm:ss") <b>to</b> @Model.EndDay.ToString("yyyy/MM/dd hh:mm:ss")</span>
                    </p>
                </div>
            </div>
            <div style="margin-top:20px;">
                <h5>Total Money Donate: <b>@Model.TotalMoney$</b> </h5>
                @if (Model.DonateStatus != 3)
                {
                    <form action="#" method="post">
                        <div class="forms-29-form">
                            <div class="form-group">
                                <label class="input__label">The amount you want to raise funds:</label>
                                <input type="hidden" value="@Model.ID" name="ID" />
                                <input type="hidden" value="@Session["ID"]" name="UserID" id="idUser" />
                                <input type="number" name="name" placeholder="5 - 1000$" max="1000" min="5" required> &nbsp;
                                <button type="submit" class="btn btn-primary" id="btnDonate">Donate</button>
                            </div>

                        </div>

                    </form>
                }

                <p>
                    @Html.Raw(Model.DonateContent)
                </p>
                <h5 class="text-primary" style="margin-top:10px;">Donate List:</h5>
                <table class="table table-striped" id="mytable">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Money</th>
                            <th>Date Donate</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ls)
                        {
                            <tr>
                                <td>@item.User.UserName</td>
                                <td>@item.Money</td>
                                <td>@(item.DateCreate.ToString("yyyy/MM/dd"))</td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>
<!-- services page block 1 -->
@section scripts{
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $('#mytable').DataTable();
            $('#btnDonate').click(function () {
                if ($('#idUser').val() === "") {
                    alertify.error("Please login to donate!");
                }
            });
        });
    </script>
}