@model List<NGO.Models.EntityModels.ProgramImage>
@{
    ViewBag.Title = "Our Programs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- contact page breadcrumns -->
<section class="inner-banner"></section>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-padding">
        <li class="breadcrumb-item"><a href="@Url.Action("Index")">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Our Programmes</li>
    </ol>
</nav>
<!-- contact page breadcrumns -->
<!-- homepage blog grids -->
<section id="blog">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
                <h4 class="section-title">Our programmes</h4>
                <p class="text-center">
                    Details of the Programmes conducted by the NGO for Education, Health Care, Privileged children (Specially challenged).
                </p>
            </div>
        </div>
        <div class="blog-grids row mt-5">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 blog-grid" id="zoomIn">
                    <a href="@Url.Action("ProgramInfomation",new { id=item.ProID})">
                        <figure><img src="@Url.Content("~/Images/")@item.ImgFileName" class="img-fluid" alt="" style="height:230px;"></figure>
                    </a>
                    <div class="blog-info">
                        <h3><a href="@Url.Action("ProgramInfomation",new { id=item.ProID})">@item.Program.ProName</a> </h3>
                        <ul>
                            <li><a href="#author"><span class="fa fa-user-o mr-2"></span>@item.Program.TypeProgram.TypeName</a></li>
                            <li><span class="fa fa-calendar mr-2"></span>@(item.Program.ProDateCreate.ToString("yyyy/MM/dd"))</li>
                        </ul>
                    </div>
                </div>
            }


        </div>
    </div>
</section>
<!-- //homepage blog grids -->
