
@{
    ViewBag.Title = "UserQuestion";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<NGO.Models.EntityModels.UserQuestion> lsNew = ViewBag.newQ;
    List<NGO.Models.EntityModels.UserQuestion> lsReply = ViewBag.reply;
}

<div class="container-fluid" style="min-height:500px;">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">New Question</a></li>
        <li><a data-toggle="tab" href="#menu1">Question Replied</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane in active">
            <div class="table-agile-info">
                <div class="panel panel-default">

                    <div class="table-responsive" style="padding:20px;">

                        <table class="table table-striped" id="mytable">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>User Mail</th>
                                    <th>Title</th>
                                    <th>Date Create</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in lsNew)
                                {
                                    <tr>
                                        <td>@item.UserName</td>
                                        <td>@item.UserMail</td>
                                        <td>@item.Title</td>
                                        <td>@item.QuesDateCreate</td>
                                        <td>
                                            <a href="@Url.Action("QuesDetail",new { id=item.ID})" class="btn btn-info">Detail</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu1" class="tab-pane">
            <div class="table-agile-info">
                <div class="panel panel-default">
                    <div class="table-responsive" style="padding:20px;">

                        <table class="table table-striped" id="tableReply">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>User Mail</th>
                                    <th>Title</th>
                                    <th>Question Date Create</th>
                                    <th>Reply Date Create</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in lsReply)
                                {
                                    <tr>
                                        <td>@item.UserName</td>
                                        <td>@item.UserMail</td>
                                        <td>@item.Title</td>
                                        <td>@item.QuesDateCreate</td>
                                        <td>@item.AnswerDateCreate</td>
                                        <td>
                                            <a href="@Url.Action("QuesDetail",new { id=item.ID})" class="btn btn-info">Detail</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script>
        $(function () {
            $('#mytable').DataTable();
            $('#tableReply').DataTable();
            $('.nav>li>a').click(function () {
                $('.tab-pane').hide();
                var id = $(this).attr("href");
                $(id).show();
            });
            var msg1 = '@TempData["success"]';
            var msg2 = '@TempData["error"]';
            if (msg1 != '') {
                alertify.success(msg1); //display notify
            }
            if (msg2 != '') {
                alertify.error(msg2)
            }

        });
    </script>
}
